---
layout: default
---

<header>
  <h1 class="name">{{ site.name }} <span class="tagline">{{ site.tagline }}</span></h1>

  <p class="bio">I'm a carpenter and coder living with my family in Winooski Vermont.</p>

  <p class="link">
    <i class="fa fa-envelope"></i>
    <a href="mailto:%69%61%6e@%6d%65%74%63%61%6c%66%62%75%69%6c%74.%63%6f%6d">ian@metcalfbuilt.com</a>
  </p>

  <p class="link">
    <i class="fa fa-github-alt"></i>
    <a href="https://github.com/ianmetcalf">github.com/ianmetcalf</a>
  </p>

  {% unless page.url contains 'resume' %}
  <p class="link">
    <i class="fa fa-file-text"></i>
    <a href="/resume/">resume</a></p>
  </p>
  {% endunless %}
</header>

<main>
  {{ content }}
</main>

<footer>
  <p><small>Hosted on GitHub Pages &mdash; Original theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
</footer>
